.row.contra-block
    %h1
        = link_to contra, class: "contra-title", target: "_blank" do
            = contra.title
        %h2 #{contra.title}
        %h2 by #{contra.author}
        %h1 #{contra.formation}
        %h1 #{contra.progression}
        %p #{contra.a_part}
        %p #{contra.b_part}
        %p #{contra.notes}