.row.contra-block
    %h1
        = link_to contra, class: "contra-title", target: "_blank" do
            = contra.title
    %h2
        = link_to contra[:author], class: "author-title", target: "_blank" do
            = "by " + contra[:author].name
    %h3 
        = link_to contra[:formation], class: "formation-title" do
            = contra[:formation].name + ", "
        = link_to contra[:progression], class: "progression-title" do
            = contra[:progression].name + " progression"
    %p{:class => "part_title"} A1:
    %p #{contra.a_1.gsub(/\n/, '<br />').html_safe}
    %p{:class => "part_title"} A2:
    %p #{contra.a_2.gsub(/\n/, '<br />').html_safe}
    %p{:class => "part_title"} B1:
    %p #{contra.b_1.gsub(/\n/, '<br />').html_safe}
    %p{:class => "part_title"} B2:
    %p #{contra.b_2.gsub(/\n/, '<br />').html_safe}
    - if contra.notes != nil
        %p{:class => "part-title"} Notes: 
        %p #{contra.notes}