.container
    .row
        .col-md-10
        %h1{:style => "text-align: center"} Add a Contra Dance
    -if @contra.errors.any?
        .row
            .alert.alert-danger.col-md-10
                %h4 #{pluralize(@contra.errors.count, "error")} prohibited this category from being saved:
                %ul
                - @contra.errors.full_messages.each do |msg|
                    %li=     msg
    .row
        = form_for @contra, :url => (@contra.new_record? ? new_contra_path(@contra) : new_contra_url(@contra)) do |f|
            .form-section.col-md-12
                .row.top-buffer
                    %form_group
                        .col-md-2
                            = f.label :title, "Title"
                        .col-md-10
                            = f.text_field :title, :class => "form-control", :required => true, placeholder: 'Title of dance'
                .row.top-buffer
                    %form_group
                        .col-md-2
                            = f.label :author, "Author"
                        .col-md-2
                            = f.collection_select :author, Author.order(:name), :id, :name
                        .col-md-8
                            %p Don't see the author you need? 
                            = link_to "Add one!", new_author_path
                            
                    %form_group
                        .col-md-2
                            = f.label :formation, "Formation"
                        .col-md-10
                            = f.collection_select :formation, Formation.order(:name), :id, :name
                .row.top-buffer
                    %form_group
                        .col-md-2
                            = f.label :progression, "Progression"
                        .col-md-10
                            = f.collection_select :progression, Progression.order(:name), :id, :name
            .form-section.col-md-12
                .row-top-buffer
                    %form_group
                        .col-md-2
                            = f.label :a_1, "A1"
                        .col-md-10
                            = f.text_area :a_1, :class => "form-control", :required => true, placeholder: '(16) Partner Balance and Swing'

                    %form_group
                        .col-md-2
                            = f.label :a_2, "A2"
                        .col-md-10
                            = f.text_area :a_2, :class => "form-control", :required => true, placeholder: '(16) Partner Balance and Swing'

                    %form_group
                        .col-md-2
                            = f.label :b_1, "B1"
                        .col-md-10
                            = f.text_area :b_1, :class => "form-control", :required => true, placeholder: '(16) Neighbor Balance and Swing'
                .row-top-buffer
                    %form_group
                        .col-md-2
                            = f.label :b_2, "B2"
                        .col-md-10
                            = f.text_area :b_2, :class => "form-control", :required => true, placeholder: '(16) Neighbor Balance and Swing'

        .col-md-2
            %button.btn.btn-success{:type => "create", :confirm => "confirm"} Submit