.container
  .row
    .col-md-10
      %h1{:style => "text-align: center"} Add an Author
  .row
    = form_for @author, url: {action: "create"} do |f|
      - if @author.errors.any?
        .alert.alert-danger
          %h4 #{pluralize(@author.errors.count, "error")} prohibited this author from being saved:
          %ul
            - @author.errors.full_messages.each do |msg|
              %li= msg
      .col-md-6.form-group.form-section
        %p
          = f.label :name
          = f.text_field :name,
                         class: "form-control",
                         required: true,
                         placeholder: 'Author name'
        %span
          = f.submit "Submit", class:'btn btn-primary'